<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer_framed">

	<xacro:include filename="$(find sp_description)/urdf/engineer_framed/engineer_manipulator_framed/engineer_manipulator_framed.xacro"/>
	<!-- <xacro:include filename="$(find sp_description)/urdf/engineer_framed/engineer_chassis_framed/engineer_chassis_framed.xacro"/> -->
	<xacro:include filename="$(find sp_description)/urdf/engineer_manipulator/manipulator_transmission.xacro"/> 

    <xacro:engineer_manipulator_framed/>
    <!-- <xacro:engineer_chassis_framed roller_type="simple"/> -->
	<xacro:arg name="use_simulation" default="true"/>

    </robot>